* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.refresh-btn {
  border-radius: 50%;
  color: green;
}

.refresh__img {
  display: block;
  width: 30px;
  height: 30px;
  color: green;
}

.note-form {
  display: flex;
  align-items: start;
  gap: 10px;
}

.form__textarea {
  resize: none;
  font-family: inherit;
  font-size: 17px;
  padding: 10px;
}

.form__btn {
  font-weight: 700;
  padding: 5px 10px;
}

.notes__wrapper {
  padding: 10px;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 15px;
  padding: 20px 10px;
}

.note-item {
  position: relative;
  border: 1px solid black;
}

.note-text {
  max-width: 150px;
  padding: 10px;
  overflow-wrap: break-word;
}

.remove-btn {
  position: absolute;
  top: -11px;
  right: -11px;
  padding: 2px 5px;
  border-radius: 50%;
  color: red;
}